@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');


:root {
  --color-primary: #0000FF;
  --color-secondary: #FFA500;
  --color-accent: #10b981;
  --color-background: #f9fafb;
  --color-background2:#000000;
  --color-background3:#E5E5FF;
  --color-text: ##000000;
  --color2-text:#FFA500;
  --border-color:#FFA500;
  --color3-text:#FFC107;
  --font-family: 'Poppins', sans-serif;
  --border-radius: 0.5rem;
}

button {
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: var(--font-family);
  transition: background-color 0.3s ease;
}