@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --breakpoint-3xl: 800px;
  --color-primary: oklch(53% 0.175 29.234);
  --color-secondary: oklch(1 0 0);
  --color-accent: oklch(0.452 0.313214 264.052 / 10.2%);

  --color-black: oklch(0 0 0);
  --color-orange: oklch(0.7927 0.171 70.67);
  --color-text-muted: oklch(0.7348 0 0);
  --color-lightgrey: oklch(0.8452 0 0);
  --color-blue: oklch(0.452 0.313214 264.052);

  /* ... */
}

body {
  font-family: var(--font-poppins);
}
